<h2>問題一覧(管理者用)</h2>
<%= link_to "新規作成", new_admin_question_path, class: "btn btn-primary" %>
<table>
  <tr>
    <th>ID</th>
    <th>問題文</th>
    <th>操作</th>
  </tr>
  <% @questions.each do |question| %>
    <tr>
      <td><%= question.id %></td>
      <td><%= question.question_text %></td>
      <td>
        <%= link_to "詳細", admin_question_path(question) %>
        <%= link_to "編集", edit_admin_question_path(question) %>
        <%= link_to "削除", admin_question_path(question), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>