<!DOCTYPE html>
<html>
  <head>
    <title>ITパスポート問題集(管理者)</title>
    <%= csrf_meta_tags %>
    <&= csp_meta_tag %>
  </head>

  <body>
    <nav>
      <%= link_to "問題管理", admin_questions_path %>
      <%= link_to "ユーザー管理", admin_users_path %>
      <%= link_to "カテゴリ管理", admin_categories_path %>
    </nav>
    <hr>
    <%= yield %>
  </body>
</html>