<!DOCTYPE html>
<html>
  <head>
    <title>ITパスポート問題集</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'アプリ説明', about_path %>
    <%= link_to '問題作成', new_question_path %>
    <%= link_to '問題一覧', questions_path %>
    <%= link_to '新規登録', new_user_registration_path %>
    <%= link_to 'ログイン', new_user_session_path %>
    <%= yield %>
  </body>
</html>
